main{
  margin: 5px;
  font-size: 20px;
  font-family: Karla;
}
.navBar{
  background-color: #877bf4;
  margin: 10px;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
}

li{
  margin-right: auto;
  color: white;
}
.storeName{
   color: white;
  font-size: 20px;
  font-family: Helvetica;
}
.slogan{
  text-align: center;
}
.products--parent{
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-wrap: wrap;
}
.product{
  background-color: #efecec;
  color: #7763d9;
  margin-right:auto;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  width:30% ;
  height: 20%px;
  padding: 15px;
 
}

.product--img{
  border-radius: 5px;
  margin: auto;
  width:100%;
  height:320px;
  position: relative;
  align-items: center;  
}

.price, .product--name{
  
  padding: 0px;  
}
.product--title{
  text-align: center;
}


