main{
  margin: 5px;
  font-size: 20px;
  font-family: Karla;
  
}
.navBar{
  background-color: #877bf4;
  margin: 10px 0px;
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
}

li{
  margin-right: auto;
  color: white;
}
.storeName{
  color: white;
  font-size: 20px;
  font-family: Helvetica;
}
.slogan{
  text-align: center;
  margin: 10px;
  background-color: #e5c580;
  color: white;
}
.products--parent{
  background-color: #a5a5df;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-wrap: wrap;
}
.product{
  background-color: #efecec;
  color: #7763d9;
  margin: 20px auto;
  border: none;
  border-radius: 15px;
  width:30% ;
  height: auto;
  padding: 10px;
 
}

.product--img{
  border-radius: 15px;
  margin: 10px;
  width:90%;
  height:320px;
  position: relative;
  align-items: center;
  cursor:pointer;
}
.product--title{
  text-align: center;
  padding: 5px;
  margin: 10px;
  font-family: helvetica;
}      

.price, .product--name{
  margin: 10px;
  font-weight: bold;
  font-family: Karla
  font-size: 20px;
  text-align: center;
  font-family: Helvetica;
}


footer{
  
  text-align: center;
  color: #2133c0;
}


